@model Aiursoft.Warp.Models.DashboardViewModels.RecordsViewModel
@{ 
    ViewData["Title"] = Model.Title;
    var pattern = WarpgateLocator.WarpPattern; // https://{warp}.aiurs.co
}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Dashboard" asp-action="Index">@Localizer["Dashboard"]</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-fw fa-clipboard-list"></i>
            @ViewData["Title"]
        </div>
        <div class="card-body p-0 pl-3">
            <div class="col-12 p-0">
                    <div class="table-responsive">
                        <table class="table table-striped datatable-records">
                            <thead>
                                <tr>
                                    <th>@Localizer["Enabled"]</th>
                                    <th>@Localizer["Record name"]</th>
                                    <th>                           
                                        <p class="text-muted">
                                                The URL you will be redirected to.
                                        </p>
                                    </th>
                                    <th>@Localizer["Type"]</th>
                                    <th>@Localizer["Create time"]</th>
                                    <th>@Localizer["Operation"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                 @foreach (var record in Model.Records)
                                 {
                                    var url = pattern.Replace("{warp}", record.RecordUniqueName);
                                    <tr>
                                        <td>
                                            @if (record.Enabled)
                                            {
                                                <label class="text-success">
                                                    <i class="fa fa-check"></i>
                                                </label>
                                            }
                                            else
                                            {
                                                <label class="text-danger">
                                                    <i class="fa fa-times"></i>
                                                </label>
                                            }
                                        </td>
                                        <td>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" readonly="readonly" value="@url">
                                                <span class="input-group-append">
                                                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-trigger="click" title="copied!" data-clipboard-text="@url">@Localizer["Copy"]</button>
                                                    <a type="button" class="btn btn-success" href="@url" target="_blank">@Localizer["Open"]</a>
                                                </span>
                                                <a class="btn btn-primary ml-2" data-toggle="modal" data-target="#qr-modal-@record.Id">@Localizer["QR Code"]</a>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="@record.TargetUrl">@record.TargetUrl.OTake(60)</a>.
                                        </td>
                                        <td>@record.Type</td>
                                        <td data-utc-time="@record.CreationTime" data-order="@record.CreationTime.Ticks"></td>
                                        <td>
                                            <div class="btn-group">
                                                <a asp-controller="Dashboard" asp-action="Delete" asp-route-recordName="@record.RecordUniqueName" class="btn btn-danger">
                                                    <i class="fas fa-trash-alt"></i>
                                                    @Localizer["Delete"]
                                                </a>
                                                <a asp-controller="Dashboard" asp-action="Edit" asp-route-recordName="@record.RecordUniqueName" class="btn btn-secondary">
                                                    <i class="fas fa-edit"></i>
                                                    @Localizer["Edit"]
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                 }
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>

@foreach(var record in Model.Records)
{
    var url = pattern.Replace("{warp}", record.RecordUniqueName);
    <div class="modal fade" id="qr-modal-@record.Id" tabindex="-1" role="dialog" aria-labelledby="qrModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">QR Code</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">?</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="img-fluid" src="@ServiceLocation.Developer/qrcode-build?source=@System.Net.WebUtility.UrlEncode(url)" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@section js{ 
<script>
    $('.datatable-records').DataTable().destroy();
    $('.datatable-records').DataTable({
        "order": [[4, "desc"]]
    });
</script>
} 